footer {
  width: 100%;
  border-top: 2px solid $black;
  padding-top: 20px;
  img {
    display: inline-block;
    float: left;
  }
  p {
    display: inline-block;
    float: left;
    margin: 5px 0 0 10px;
    padding-top: 0;
  }
}